{% extends 'shop/basic.html' %}

{% block style %}




{% endblock style %}


{% block title%} MyShop _ Tracker.. {% endblock title%}

{% block body %}
{% load static %}

 <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">MyShop -Your Shop Here....!</h1>
          <p>MyShop is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in Singapore as a private limited company.[5] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary and domestic rival Snapdeal.[6][7] As of March 2017, Flipkart held a 39.5% market share of India's e-commerce industry.[8] MyShop has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[9] Flipkart also owns PhonePe, a mobile payments service based on the UPI.

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing Flipkart at around $20 billion.</p>
          <p><a class="btn btn-primary btn-lg" href="/shop" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>History</h2>
            <p>MyShop was founded in October 2007 by Sachin Bansal and Binny Bansal, alumni of the IIT, Delhi and former Amazon employees.[11][12][13] The company initially focused on online book sales with country-wide shipping. MyShop slowly grew in prominence and was receiving 100 orders per day by 2008.[14] In 2010, Flipkart acquired the Bangalore-based social book discovery service WeRead from Lulu.com.[ </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Acquisitions</h2>
            <p>
In 2011, MyShop  acquired the digital distribution business Mime360.com[16] and the digital content library of the Bollywood portal Chakpak.[17] Following this acquisition, MyShop launched their DRM-free online music store Flyte in 2012. Because of competition from free streaming sites, the site was unsuccessful and shut down in June 2013.[18][19][20][21]

With its eyes on India's retail market, Flipkart acquired Letsbuy, an online electronics retailer,[22] in 2012, and Myntra, an online fashion retailer, for $280 million in May 2014.[23] Myntra continues to operate alongside MyShop as a standalone subsidiary focusing on separate market segments. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Partnerships</h2>
            <p>
In April 2017, eBay announced that it would sell its Indian subsidiary, eBay.in, to MyShop and invest $500 million in the company. While eBay suggested that the partnership would eventually allow Flipkart to access eBay's network of international vendors, these plans never actually came to fruition.[34][35] In July 2017, Flipkart made an offer to acquire its main domestic competitor, Snapdeal, for $700–800 million. It was rejected by Snapdeal, which was seeking at least $1 billion.[36]

In August 2019, Flipkart entered into a partnership with Authentic Brands to license and distribute Nautica in India.[37] Flipkart invested $4 million in the customer engagement and rewards platform EasyRewardz on 19 November 2019</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

{% block js %}
<script>

</script>

{% endblock js %}

{% endblock body %}

